#header {
    display: inline;
    height: 2000px;
    vertical-align: middle;
}

#title {
    font-size: 40px;    
}


main{
    margin: 50px 100px;
}

#contenitore{
    background-color: #f6f8f9;
    padding: 25px 50px;
}

/*button*/
.btn-1 {
    background-color: #46adf1;
}

.btn{
    width: auto;
    height: 30px;
    border: none;
    border-radius: 10%;
}

.taste{
    border-bottom: 1px solid black;
    margin: none;
}


/*lista*/
ul {
    list-style-type: none;
    padding-left: 0;
    }

li {
    margin-bottom: 30px;
    font-size: 22px;
}

#spunta {
    border: 1px solid #75c9b6;
    border-radius: 50%;
    font-size: 22px;
    color: #75c9b6;
    text-align: center;
    padding: 1px;
}

#croce {
    border: 1px solid #ea453b;
    border-radius: 50%;
    font-size: 22px;
    color: #ea453b;
    text-align: center;
    padding: 1px;
}

.etichetta{
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    padding: 6px 12px;
    background-color: #45abea;
}

.et-2{
    background-color: #9c72e4;
}

.et-3{
    background-color: #64c0a9;
}

.et-4{
    background-color: #f29e33;
}

.et-5{
    background-color: #d863a1;
}

.et-6{
    background-color: #b0c926;
}


