#header {
    display: inline;
    height: 2000px;
    vertical-align: middle;
}

#title {
    font-size: 36px;
    vertical-align: middle;
}


main{
    margin: 50px 100px;
}

#contenitore{
    background-color: #f6f8f9;
    padding: 10px 50px;
}

/*button*/
.btn-1 {
    background-color: #46adf1;
}

.btn{
    width: auto;
    height: 30px;
    border: none;
    border-radius: 10%;
}

/*lista*/
ul {
    list-style-type: none;
    padding-left: 0;
    }

#spunta {
    border: 1px solid #75c9b6;
    border-radius: 50%;
    font-size: 10px;
    color: #75c9b6;
    text-align: center;
    padding: 1px;
}

#croce {
    border: 1px solid #ea453b;
    border-radius: 50%;
    font-size: 10px;
    color: #ea453b;
    text-align: center;
    padding: 1px;
}



